<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Attestation Checker</title>
    <link rel="shortcut icon" href="{{url_for('static', filename = 'favicon.ico')}}">
    <script src="{{url_for('static', filename = 'jquery-3.5.1.min.js')}}"></script>
    <style type="text/css">
        .indent-1 {
            margin-left: 15px;
        }
    </style>
    <script>
        var isUVPAA = false;
        let successCode = '2000';
        var registeredKeys = [];

        window.onload = function () {
            // FIDO対応か確認
            PublicKeyCredential.isUserVerifyingPlatformAuthenticatorAvailable(
            ).then((result) => {
                if (result) {
                    isUVPAA = true;
                } else {
                    $("#isUVPAAStatus").css('background-color', 'red');
                }
                $('#isUVPAAStatus').text(isUVPAA);
            });
            // Conditional UI対応判定
            if (PublicKeyCredential.isConditionalMediationAvailable) {
                PublicKeyCredential.isConditionalMediationAvailable()
                    .then((result) => {
                        $('#isCMAStatus').text(result);
                        if (!result) {
                            $("#isCMAStatus").css('background-color', 'red');
                        }
                    });
            }
            if (PublicKeyCredential.getClientCapabilities) {
                PublicKeyCredential.getClientCapabilities()
                    .then((result) => {
                        $("#tblClientCapabilities tbody tr").remove();
                        $("#tblClientCapabilities").append(`<tr><th>capability</th><th>result</th></tr>`);
                        Object.keys(result).forEach((e) => {
                            $("#tblClientCapabilities").append(`<tr><td>${e}</td><td>${result[e]}</td></tr>`);
                        })
                        $('#isCCStatus').text("");
                    }).catch((e) => {
                        $('#isCCStatus').text(e);
                        $("#isCCStatus").css('background-color', 'red');
                    });
            } else {
                $('#isCCStatus').text("not supported");
                $("#isCCStatus").css('background-color', 'red');
            }
        }

        function base64UrlToBuffer(base64) {
            let binary = atob(base64.replace(/-/g, '+').replace(/_/g, '/') + "=".repeat(4 - base64.length % 4));
            let len = binary.length;
            let bytes = new Uint8Array(len);
            for (let i = 0; i < len; i++) {
                bytes[i] = binary.charCodeAt(i);
            }
            return bytes;
        }

        function bufferToBase64Url(buffer) {
            return btoa(String.fromCharCode.apply(null, new Uint8Array(buffer))).replace(/\+/g, '-').replace(/\//g, '_').replace(/=/g, '');
        }

        function bufferToString(buffer) {
            return String.fromCharCode.apply(null, new Uint8Array(buffer));
        }

        function digObject(obj) {
            const result = {}
            for (const key in obj) {
                if (obj[key] === null) {
                    result[key] = null
                } else if (obj[key] instanceof ArrayBuffer) {
                    result[key] = bufferToBase64Url(obj[key])
                } else if (typeof obj[key] === 'object') {
                    result[key] = digObject(obj[key])
                } else if (typeof obj[key] === 'function') {
                    result[key] = obj[key]()
                } else {
                    result[key] = obj[key]
                }
            }
            return result
        }

        function attestation_options(options) {
            return $.post({
                url: "/attestation/options",
                data: JSON.stringify(options),
                contentType: 'application/json'
            })
        }

        function attestation_result(rawCredential) {
            const credential = digObject(rawCredential)
            try {
                credential.response.transports = rawCredential.response.getTransports();
            } catch (TypeError) {
            }
            return $.post({
                url: "/attestation/result",
                data: JSON.stringify(credential),
                contentType: 'application/json'
            })
        }

        function assertion_options(options) {
            return $.post({
                url: "/assertion/options",
                contentType: 'application/json'
            })
        }

        function assertion_result(rawCredential) {
            const credential = digObject(rawCredential)
            return $.post({
                url: "/assertion/result",
                data: JSON.stringify(credential),
                contentType: 'application/json'
            })
        }

        function register() {
            $('#dumpOptions').text("");
            $('#resultMsg').text("");
            // optionsリクエスト
            attestation_options().then((response) => {
                // レスポンスをデコード
                options = JSON.parse(response);
                if (options.statusCode != successCode) {
                    $('#resultMsg').text(response);
                    return
                }
                delete options.statusCode;
                // 指定したオプションを追加
                if ($('input[name=authenticatorSelection-enable]').prop('checked')) {
                    options.authenticatorSelection = {};
                    if ($('input[name=authenticatorAttachment-enable]').prop('checked')) {
                        options.authenticatorSelection.authenticatorAttachment = $('[name=authenticatorAttachment]').val();
                    }
                    if ($('input[name=requireResidentKey-enable]').prop('checked')) {
                        options.authenticatorSelection.requireResidentKey = $('[name=requireResidentKey]').val() == 'true';
                    }
                    if ($('input[name=residentKey-enable]').prop('checked')) {
                        options.authenticatorSelection.residentKey = $('[name=residentKey]').val();
                    }
                    if ($('input[name=userVerification-enable]').prop('checked')) {
                        options.authenticatorSelection.userVerification = $('[name=userVerification]').val();
                    }
                }
                if ($('input[name=attestation-enable]').prop('checked')) {
                    options.attestation = $('[name=attestation]').val();
                }
                const dumpMsg = JSON.stringify(options, null, "   ");
                const dumpHtmlString = dumpMsg.replace(/ /g, "&ensp;").replace(/\n/g, "<br>");
                $('#dumpOptions').html(dumpHtmlString);
                // 各種デコード
                options.user.id = new TextEncoder().encode(options.user.id);
                options.challenge = new TextEncoder().encode(options.challenge);
                for (let i = 0; i < options.excludeCredentials.length; i++) {
                    options.excludeCredentials[i].id = base64UrlToBuffer(options.excludeCredentials[i].id)
                }
                // 鍵生成
                return navigator.credentials.create({ publicKey: options });
            }).then((credential) => {
                // resultリクエスト
                return attestation_result(credential);
            }).catch(e => {
                if (e.name == "InvalidStateError" && e.message == "The user attempted to register an authenticator that contains one of the credentials already registered with the relying party.") {
                    $('#resultMsg').text("二重登録エラー");
                    return;
                } else {
                    $('#resultMsg').text(e);
                }
            }).then((response) => {
                responseJson = JSON.parse(response)
                if (responseJson.statusCode != successCode) {
                    $('#resultMsg').text(response);
                    return
                }
                registeredKeys.push({
                    credential_id: responseJson.credential_id,
                    transports: responseJson.transports
                })
                $("#tblCredentials").append(`<tr><td>${responseJson.credential_id}</td><td>${responseJson.transports}</td></tr>`);
                const resultMsg = JSON.stringify(responseJson.attestation, null, "   ");
                const resultHtmlString = resultMsg.replace(/ /g, "&ensp;").replace(/\n/g, "<br>");
                $('#resultMsg').html(resultHtmlString);
            });
        }

        function autoRegister() {
            $('#dumpOptions').text("");
            $('#resultMsg').text("");
            // optionsリクエスト
            attestation_options().then((response) => {
                // レスポンスをデコード
                options = JSON.parse(response);
                if (options.statusCode != successCode) {
                    $('#resultMsg').text(response);
                    return
                }
                delete options.statusCode;
                // 指定したオプションを追加
                if ($('input[name=authenticatorSelection-enable]').prop('checked')) {
                    options.authenticatorSelection = {};
                    if ($('input[name=authenticatorAttachment-enable]').prop('checked')) {
                        options.authenticatorSelection.authenticatorAttachment = $('[name=authenticatorAttachment]').val();
                    }
                    if ($('input[name=requireResidentKey-enable]').prop('checked')) {
                        options.authenticatorSelection.requireResidentKey = $('[name=requireResidentKey]').val() == 'true';
                    }
                    if ($('input[name=residentKey-enable]').prop('checked')) {
                        options.authenticatorSelection.residentKey = $('[name=residentKey]').val();
                    }
                    if ($('input[name=userVerification-enable]').prop('checked')) {
                        options.authenticatorSelection.userVerification = $('[name=userVerification]').val();
                    }
                }
                if ($('input[name=attestation-enable]').prop('checked')) {
                    options.attestation = $('[name=attestation]').val();
                }
                const dumpMsg = JSON.stringify(options, null, "   ");
                const dumpHtmlString = dumpMsg.replace(/ /g, "&ensp;").replace(/\n/g, "<br>");
                $('#dumpOptions').html(dumpHtmlString);
                // 各種デコード
                options.user.id = new TextEncoder().encode(options.user.id);
                options.challenge = new TextEncoder().encode(options.challenge);
                for (let i = 0; i < options.excludeCredentials.length; i++) {
                    options.excludeCredentials[i].id = base64UrlToBuffer(options.excludeCredentials[i].id)
                }
                // 鍵生成
                return navigator.credentials.create({ publicKey: options, mediation: "conditional" });
            }).then((credential) => {
                // resultリクエスト
                return attestation_result(credential);
            }).catch(e => {
                if (e.name == "InvalidStateError" && e.message == "The user attempted to register an authenticator that contains one of the credentials already registered with the relying party.") {
                    $('#resultMsg').text("二重登録エラー");
                    return;
                } else {
                    $('#resultMsg').text(e);
                }
            }).then((response) => {
                responseJson = JSON.parse(response)
                if (responseJson.statusCode != successCode) {
                    $('#resultMsg').text(response);
                    return
                }
                registeredKeys.push({
                    credential_id: responseJson.credential_id,
                    transports: responseJson.transports
                })
                $("#tblCredentials").append(`<tr><td>${responseJson.credential_id}</td><td>${responseJson.transports}</td></tr>`);
                const resultMsg = JSON.stringify(responseJson.attestation, null, "   ");
                const resultHtmlString = resultMsg.replace(/ /g, "&ensp;").replace(/\n/g, "<br>");
                $('#resultMsg').html(resultHtmlString);
            });
        }

        function authenticate() {
            $('#dumpOptions').text("");
            $('#resultMsg').text("");
            // optionsリクエスト
            assertion_options().then((response) => {
                // レスポンスをデコード
                options = JSON.parse(response);
                if (options.statusCode != successCode) {
                    $('#resultMsg').text(response);
                    return;
                }
                options.allowCredentials = [];
                registeredKeys.forEach(key => {
                    options.allowCredentials.push({
                        type: "public-key",
                        id: key.credential_id, // dump用に1回stringで置く
                        transports: key.transports.split(',')
                    })
                })
                delete options.statusCode;
                const dumpMsg = JSON.stringify(options, null, "   ");
                const dumpHtmlString = dumpMsg.replace(/ /g, "&ensp;").replace(/\n/g, "<br>");
                $('#dumpOptions').html(dumpHtmlString);

                options.challenge = new TextEncoder().encode(options.challenge);
                for (let i = 0; i < options.allowCredentials.length; i++) {
                    options.allowCredentials[i].id = base64UrlToBuffer(options.allowCredentials[i].id);
                }

                // 生体認証
                return navigator.credentials.get({ publicKey: options });
            }).then((credential) => {
                console.log('assertion_dump')
                console.log(credential)
                // resultリクエスト
                return assertion_result(credential);
            }).then((response) => {
                responseJson = JSON.parse(response)
                if (responseJson.statusCode != successCode) {
                    $('#resultMsg').text(response);
                    return
                }
                const resultMsg = JSON.stringify(responseJson.assertion, null, "   ");
                const resultHtmlString = resultMsg.replace(/ /g, "&ensp;").replace(/\n/g, "<br>");
                $('#resultMsg').html(resultHtmlString);
            }).catch(e => {
                $('#resultMsg').text(e);
            });
        }

    </script>
</head>

<body>
    <H1>Attestation Checker</H1>
    <div>
        <H2>FIDO関係対応状況</H2>
        isUserVerifyingPlatformAuthenticatorAvailable: <span id="isUVPAAStatus"></span><br>
        isConditionalMediationAvailable: <span id="isCMAStatus"></span><br>
        getClientCapabilities: <span id="isCCStatus"></span><br>
        <table id="tblClientCapabilities" border="1">
        </table>
    </div>
    <H2>FIDOテスト</H2>
    <div>
        <div id="option_picker">
            <div class="editor indent-0">
                <input type="checkbox" id="authenticatorSelection-enable" name="authenticatorSelection-enable" checked>
                <label for="authenticatorSelection-enable">authenticatorSelection</label>
            </div>
            <div class="editor indent-1">
                <input type="checkbox" id="authenticatorAttachment-enable" name="authenticatorAttachment-enable" checked>
                <label for="authenticatorAttachment-enable">authenticatorAttachment</label>
                <select name="authenticatorAttachment">
                    <option value="platform">platform</option>
                    <option value="cross-platform">cross-platform</option>
                </select>
            </div>
            <div class="editor indent-1">
                <input type="checkbox" id="requireResidentKey-enable" name="requireResidentKey-enable" checked>
                <label for="requireResidentKey-enable">requireResidentKey</label>
                <select name="requireResidentKey">
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
            </div>
            <div class="editor indent-1">
                <input type="checkbox" id="residentKey-enable" name="residentKey-enable">
                <label for="residentKey-enable">residentKey</label>
                <select name="residentKey">
                    <option value="required">required</option>
                    <option value="preferred">preferred</option>
                    <option value="discouraged">discouraged</option>
                </select>
            </div>
            <div class="editor indent-1">
                <input type="checkbox" id="userVerification-enable" name="userVerification-enable" checked>
                <label for="userVerification-enable">userVerification</label>
                <select name="userVerification">
                    <option value="required">required</option>
                    <option value="preferred">preferred</option>
                    <option value="discouraged">discouraged</option>
                </select>
            </div>
            <div class="editor indent-0">
                <input type="checkbox" id="attestation-enable" name="attestation-enable" checked>
                <label for="attestation-enable">attestation</label>
                <select name="attestation">
                    <option value="direct">direct</option>
                    <option value="indirect">indirect</option>
                    <option value="enterprise">enterprise</option>
                    <option value="none">none</option>
                </select>
            </div>
        </div>
        <div>
            <table id="tblCredentials" border="1">
                <tr>
                    <th>credential_id</th>
                    <th>transports</th>
                </tr>
            </table>
            <div id="option_picker">
                <div class="editor indent-0">
                </div>
            </div>
        </div>
        <button onclick="register()">登録！</button>
        <button onclick="authenticate()">認証！</button>
        <button onclick="autoRegister()">自動登録！</button><br>
        <details>
            <summary>認証機に投げたoptions</summary>
            <div id="dumpOptions"></div>
        </details>
        <div id="resultMsg"></div>
    </div>
    <div>
        <H2>ブラウザ情報</H2>
        <table id="tblCredentials" border="1">
            <tr>
                <th>User Agent</th>
                <td>{{user_agent}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA</th>
                <td>{{sec_ch_ua}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Arch</th>
                <td>{{sec_ch_ua_arch}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Bitness</th>
                <td>{{sec_ch_ua_bitness}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Full-Version-List</th>
                <td>{{sec_ch_ua_full_version_list}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Full-Version</th>
                <td>{{sec_ch_ua_full_version}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Mobile</th>
                <td>{{sec_ch_ua_mobile}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Model</th>
                <td>{{sec_ch_ua_model}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Platform</th>
                <td>{{sec_ch_ua_platform}}</td>
            </tr>
            <tr>
                <th>Sec-CH-UA-Platform-Version</th>
                <td>{{sec_ch_ua_platform_version}}</td>
            </tr>
            <tr>
                <th>Sec-CH-Prefers-Reduced-Motion</th>
                <td>{{sec_ch_prefers_reduced_motion}}</td>
            </tr>
            <tr>
                <th>Sec-CH-Prefers-Color-Scheme</th>
                <td>{{sec_ch_prefers_color_scheme}}</td>
            </tr>
            <tr>
                <th>Device-Memory</th>
                <td>{{device_memory}}</td>
            </tr>
            <tr>
                <th>DPR</th>
                <td>{{dpr}}</td>
            </tr>
            <tr>
                <th>Width</th>
                <td>{{width}}</td>
            </tr>
            <tr>
                <th>Viewport-Width</th>
                <td>{{viewport_width}}</td>
            </tr>
            <tr>
                <th>Save-Data</th>
                <td>{{save_data}}</td>
            </tr>
            <tr>
                <th>Downlink</th>
                <td>{{downlink}}</td>
            </tr>
            <tr>
                <th>ECT</th>
                <td>{{ect}}</td>
            </tr>
            <tr>
                <th>RTT</th>
                <td>{{rtt}}</td>
            </tr>
        </table>
        <div id="option_picker">
            <div class="editor indent-0">
            </div>
        </div>
    </div>
</body>

</html>
